<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">

        <br>
        {% csrf_token %}
        {{form.as_p}}

        <br><input type="submit" value="submit"></input>
    </form>
</body>
<script type="text/javascript">
    document.getElementById("id_departure_date_time").type = "datetime-local";
    document.getElementById("id_arrival_date_time").type = "datetime-local";
</script>
</html>