<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if form.errors %}
    <p style="color: red">{{ form.errors }}</p>
    {% endif %}

    {{request.user.username}}
    <form method="post" action="{% url 'reservation_edit'%}">

        <br>
        {% csrf_token %}
        {{form.as_p}}

        <br><input type="submit" value="submit"></input>
    </form>
</body>
</html>