{% extends 'forms_template.html' %}
{% block content %}
    
        <h2>Login</h2>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="POST">
            {%csrf_token%}
            {{form.username}}
            {{form.password}}
            <button type="submit">Login</button>
        </form>
        
        <p class="switch-form">Don't have an account? <a href="{% url 'profile_create' %}">Register</a></p>

    <script>
        document.getElementById('id_username').placeholder = "Username";
        document.getElementById('id_password').placeholder = "Password";
    </script>
{%endblock%}